.container {
    margin: auto;
    text-align: center;
    background-color: #EFEFEF;
    width: 600px;
    height: 100vh;
}

label{
    display: block;
    margin: 1rem;
}
input {
    display: block;
    padding: 0.5rem;
    margin: auto;
}

button {
    padding: 0.5rem;
    margin: 1rem;

}
table {
    border: 1px solid black ;
    margin: auto;
}